/* Media query for tablet devices with a minimum width of 768px */
@media (min-width: 768px) {
  .header {
    padding: 32px 40px;
  }

  .hero {
    background-image: url('images/home/tablet/image-header.jpg');
    height: 720px;
  }

  .hero-content{
    width: 400px;
  }

  .hero-content h1 {
    font-size: 56px;
  }

  .hero-content h2 {
    font-size: 16px;
  }

  .hero-content p {
    margin-bottom: 40px;
  }

  /* <!-- Product Group --> */
  .product-group {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin: 0 40px;
    margin-top: 148px;
    margin-bottom: 96px;
  }

  .product-card {
    width: 33%;
  }
  /* <!-- Featured Product --> */
  .featured-product {
    margin: 0 40px;
    gap: 64px;
  }
  
  .featured-product-image 
  img {
    height: 238px;
    width: 198px;
  }
  
  .featured-product-content h3 {
    font-size: 56px;
    line-height: 58px;
    width: 250px;
  }
  
  .featured-product-content {
    width: 350px;
  }

  /* <!-- Speaker Section --> */

.speaker-section {
  background-image: url('images/home/tablet/image-speaker-zx7.jpg');
  margin: 32px 40px;
  height: 320px;
}

.left-box {
  margin-left: 62px;
}

/* Earphone Section */
.earphones-section {
  flex-direction: row;
  margin: 32px 40px;
}

.earphones-section .img {
  height: 320px;
  background-image: url('images/home/desktop/image-earphones-yx1.jpg');
  width: 50%;
}

.earphones-section .content {
  height: 320px;
  padding-left: 42px;
  width: 50%;
}

/* <!-- About Section --> */
.about-section {
  gap: 64px;
  margin: 0 40px;
}

.about-section
.img {
  background-image: url('images/shared/tablet/image-best-gear.jpg');
}

.about-content h2 {
  font-size: 40px;
}

/* <!-- Footer --> */

.footer {
  align-items: start;
  gap: 32px;
  padding: 56px 40px 0 40px;
  text-align: start;
}

.footer-links ul {
  flex-direction: row;
  gap: 34px;
}

.bottom-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 46px;
  margin-top: 0;
}

.desktop-footer-flex-top {
  gap: 34px;
}

}
